
  <div class="row pt-5">
    <div class="col-md-4  mb-4" *ngFor="let events of ListEvents let i = index">
  <div class="card">
      <div class="card-header bg-transparent"> Event  <strong>{{i+1}}</strong> </div>
    <div class="card-body">
      <h5 class="card-title">{{events.Name}}</h5>
      <p class="card-text">{{events.Description}}</p>
      <a href="#" class="btn btn-primary">View More</a>
    </div>
    <div class="card-footer bg-transparent ">{{events.Date}}</div>
  </div>
</div>
</div>